body {
    text-align: center;
}

h1 {
    color: #E10098;
}

.header {
    padding-top: 2em;
}

.description {
    font-size: 1.4em;
    color: #666;
}

.footer {
    padding-top: 1em;
    color: black;
    font-size: 1.1em;
}

.made-with {
    margin-bottom: unset;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
}

.inspired {
    font-size: 0.8em;
    color: #666;
    font-style: italic;
}