<!doctype html>
<html lang="en">

</html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="static/icon.ico" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">

    <title>Exchange Rates GraphQL</title>
</head>

<body>
    <div class="container-fluid">

        <div class="container header">
            <h1>Exchange Rates GraphQL</h1>
        </div>

        <div class="container">
            <p class="description">Foreign exchange rates GraphQL with currency conversion</p>
        </div>

        <div class="container">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                    src="https://exchangeratesgraphql.deployeveryday.com/graphql/playground" allowfullscreen></iframe>
            </div>
        </div>

        <div class="container">
            <p class="made-with">See the docs and Queries available at <a href="https://github.com/jonatasbaldin/exchangeratesgraphql">GitHub</a></p>
        </div>

        <footer class="footer">
            <div class="container">
                <a class="github-button" href="https://github.com/jonatasbaldin/exchangeratesgraphql"
                    data-icon="octicon-star" data-size="large" data-show-count="true"
                    aria-label="Star jonatasbaldin/exchangeratesgraphql on GitHub">Star</a>
                <a class="github-button" href="https://github.com/jonatasbaldin/exchangeratesgraphql/fork"
                    data-icon="octicon-repo-forked" data-size="large" data-show-count="true"
                    aria-label="Fork jonatasbaldin/exchangeratesgraphql on GitHub">Fork</a>

                <p class="made-with">Made with 💖 by <a href="https://twitter.com/jonatasbaldin">Jojo</a></p>
                <p class="inspired">Inspired by <a href="https://exchangeratesapi.io/">Exchange Rates API</a></p>
            </div>
        </footer>

    </div>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</body>

</html>